.Left { text-align: left; }
.Center { text-align: center; }
.Right { text-align: right; }

.Clearfix { clear:both; }
.Hidden { display:none; }
.Visible { display:inherit; }

.FloatL { float: left; }
.FloatR { float: right; }

.Pointer { cursor:pointer; }

.Thin { font-weight: normal; }
.Bold { font-weight: bold; }

.w100 { width: 100%; }

.Margin10 { margin: 10px; }
.Padding10 { padding: 10px; }

.MarginV5 { margin: 5px 0px 5px 0px; }
.PaddingV5 { padding: 5px 0px 5px 0px; }

.MarginV10 { margin: 10px 0px 10px 0px; }
.PaddingV10 { padding: 10px 0px 10px 0px; }


.Small {font-size: 10px;}
.Meduim {font-size: 13px;}
.Large {font-size: 16px;}

.Size10 { font-size: 10px; }
.Size11 { font-size: 11px; }
.Size12 { font-size: 12px; }
.Size13 { font-size: 13px; }
.Size14 { font-size: 14px; }
.Size15 { font-size: 15px; }
.Size18 { font-size: 18px; }
.Size20 { font-size: 20px; }
.Size22 { font-size: 22px; }

.White { color: #FFF; }
.Black { color: #000; }
.Red { color: #F00; }
.Green { color: #070; }
.Pink { color: #F7B; }
.Gray3 { color: #333; } 
.Gray5 { color: #555; } 

.Underline { text-decoration: underline; }

.Line { 
height: 2px; 
border-bottom: solid 1px #777; 
margin-bottom: 20px;
}

.PageNav { margin: 10px;}

.PageNav .Num {
	display: inline-table;
	background-color:#CCC;
	padding: 3px;
	width: 20px;
	margin: 3px;
	font-size: 12px;
	font-family: arial;
	color: #000;
}

.PageNav .Num:hover {
	background-color:#DDD;
	cursor: pointer;
}

.PageNav .Current {
	background-color:#DDD;
	font-weight: bold;
	color: #777;
}

.PageNav .Current:hover {
	background-color:#DDD;
	cursor: default;
}

.PageNav .icon-forward, .PageNav .icon-step-forward, .PageNav .icon-backward, .PageNav .icon-step-backward {
	font-size: 15px;
	position: relative;
	top: 4px;
	color: #000;
}

.PageNav .icon-forward:hover, .PageNav .icon-step-forward:hover, .PageNav .icon-backward:hover, .PageNav .icon-step-backward:hover {
	color: #444;
	cursor: pointer;
}

.BasicForm {}

.BasicForm .error {
	background-color: #F66;
	color: #FFF;
	padding: 10px;
	border-radius: 5px;
}

.BasicForm .msg {
	background-color: #373;
	color: #FFF;
	padding: 10px;
	border-radius: 5px;
}

.BasicForm label {
	width: 40%;
	height: 25px;
	float: left;
	display: table;
	text-align: right;
}

.BasicForm .input {
	width: 57%;
	height: 25px;
	float: right;
	display: table;
	text-align: left;
}

.BasicForm > div {
	margin: 10px;
}
.BasicForm {}

.BasicLoginForm {
	border:solid 1px #CCC; 
	width: 300px;
}

.BasicLoginForm input[type="text"], .BasicLoginForm input[type="password"], .BasicTextInput  {
	width: 96%;
	background-color:#FFF;
	border:solid 1px #999;
	padding: 3px;
	font-family: arial;
	font-size: 14px;
	color: #777;
}

.BasicButton {
	background-color: #008FFF;
	color: #FFF;
	font-family: arial;
	font-size: 14px;
	padding: 5px 15px 5px 15px;
	margin: 5px;
	border: none;
	display: inline-block;
}
.BasicButton:hover {
	background-color: #10A4DE;
	cursor: pointer;
}
.BasicButton i {
	font-size: 18px;
}

.BasicTable {}

.BasicTable th {
	background-color:#008FFF;
	color: #FFF;
	font-family: arial;
	font-size: 13px;
	text-align: left;
	padding: 3px;
	font-weight: normal;
}

.BasicTable td {
	background-color:#FFF;
	color: #000;
	font-family: arial;
	font-size: 13px;
	text-align: left;
	padding: 5px 3px 5px 3px;
	font-weight: normal;
	border-bottom:solid 1px #777;
	vertical-align: top;
}
